<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122267812824-4r84qmd3etbq0htif1ti9g9c6jvmoe9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122267812824-4r84qmd3etbq0htif1ti9g9c6jvmoe9m</string>
	<key>API_KEY</key>
	<string>AIzaSyC9ueTlY0uIFlHTCZ8sMZvKfAHuMJeDemg</string>
	<key>GCM_SENDER_ID</key>
	<string>122267812824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.damian.frankowicz.simpleparkingapp</string>
	<key>PROJECT_ID</key>
	<string>steam-idiom-331514</string>
	<key>STORAGE_BUCKET</key>
	<string>steam-idiom-331514.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122267812824:ios:ae28211ef6631f5837e8ad</string>
</dict>
</plist>